header {
  background-color: #a51919;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border: 1px solid #0917d6;
  gap: 1rem;
  padding: 1rem;
}
#hautdePage {
  display: flex
  
}
header h1 {
  color: #fff;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
img {
  width: 60%;
  height: auto;
}
header.button{
  border: 1px solid #090b1b;
}
header.form{
  border: 1px solid #090b1b;
  color: #a51919;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #1a311b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

main {
  background-color: #f0f1f0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a32404;
}
#divButton {
  display: flex;
  
  background-color: #1922a5;
}
#Brewery {
  background-color: #9eca9d;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

#Brewery div {
  border: 5px solid #4e2c2c;
  padding: 16px;
  margin: 16px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f1bdbd;
}

#Brewery h2 {
  background-color: #cc664c;
  box-shadow: 12px 12px 2px 1px rgba(83, 7, 33, 0.2);
  margin-top: 0;
  font-size: 1.5em;
}

.brewery-card p {
  margin: 8px 0;
}

.brewery-card a {
  color: #007bff;
  text-decoration: none;
}

.brewery-card a:hover {
  text-decoration: underline;
}

.btn {
  
    background-color: #1a311b;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  
}

#footer {
  background-color: #a51919;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #187506;
}
#footer img {
  width: 50px;
  height: auto;
}
#footer p {
  font-family: Arial, Helvetica, sans-serif;
  color: #f0eeee;
}
